@model IEnumerable<WebDientesitos.Models.CitaDental>
@{
    Layout = "LayoutPaciente";
}
<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<a class="card btn" asp-controller="Paciente" asp-action="ReservarCita">
    <div class="card-body">
        <h5 class="card-title">Reservar cita</h5>
        <p class="card-text">Aqui pdrá reservar una cita.</p>
    </div>
</a>
<div class="container">
    <h1>Citas reservadas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Tratamiento</th>
                <th>Doctor</th>
                <th>Sede</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Duración (minutos)</th>
                <th>Importe a Pagar (S/.)</th>
                <th>Estado</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CitaDental item in Model)
            {
                <tr>
                    <td>@item.IdtratamientoNavigation.Nombre</td>
                    <td>@item.IddoctorNavigation.Nombre @item.IddoctorNavigation.ApellidoPaterno</td>
                    <td>@item.IdsedeNavigation.Direccion</td>
                    <td>@item.Fecha.ToString().Substring(0, 10)</td>
                    <td>@item.Hora.ToString().Substring(0, 5)</td>
                    <td>@item.Duracion</td>
                    <td>@item.ImportePagar</td>
                    @switch (@item.Estado)
                    {
                        case 0:
                            <td>Agendado</td>
                            break;
                        case 1:
                            <td>Pagado</td>
                            break;
                    }
                    <td><a class="btn btn-primary" asp-Controller="Paciente" asp-action="EditarCita" asp-route-citaId="@item.Idcita">Editar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
