@model IEnumerable<WebDientesitos.Models.CitaDental>
@{
    Layout = "LayoutPaciente";
}
<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<div class="container">
    <h1>Historial de Citas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Tratamiento</th>
                <th>Doctor</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado</th>
                <th>Más información</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CitaDental item in Model)
            {
                <tr>
                    <td>@item.IdtratamientoNavigation.Nombre</td>
                    <td>@item.IddoctorNavigation.Nombre @item.IddoctorNavigation.ApellidoPaterno</td>
                    <td>@item.Fecha.ToString().Substring(0, 10)</td>
                    <td>@item.Hora.ToString().Substring(0, 5)</td>
                    @switch (@item.Estado)
                    {
                        case 2:
                            <td>Finalizado</td>
                            break;
                        case 3:
                            <td>Cancelado</td>
                            break;
                    }
                    <td><a class="btn btn-primary" asp-controller="Paciente" asp-action="InfoCita" asp-route-IDCita="@item.Idcita">Más Información</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
