<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebDientesitos</title>
    <script src="https://kit.fontawesome.com/2c8627ff3e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" type="image/svg" href="~/images/Dientesito.svg">
    <link rel="stylesheet" href="~/css/ColorsLayout.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand">
                <img src="~/images/Dientesito.svg" alt="Logo del consultorio">
            </a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.CurrentPage == "MenuDoctor" ? "active rounded" : "")" asp-controller="Doctor" asp-action="MenuDoctor">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.CurrentPage == "VerPacientes" ? "active rounded" : "")" asp-controller="Doctor" asp-action="VerPacientes">Ver Pacientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.CurrentPage == "VerCitas" ? "active rounded" : "")" asp-controller="Doctor" asp-action="VerCitas">Ver Citas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(ViewBag.CurrentPage == "EditarPerfil" ? "active rounded" : "")" asp-controller="Doctor" asp-action="EditarPerfil">Editar Perfil</a>
                    </li>
                </ul>
            </div>
            <div class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="btn btn-primary" asp-controller="Usuario" asp-action="CerrarSesion" >Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-left">
                    <p>&copy; 2023 Dientesitos.</p>
                </div>
                <div class="col-lg-8 text-right">
                    <p>Contáctenos</p>
                    <ul class="list-inline contact-icons">
                        <li class="list-inline-item">
                            <a href="https://wa.me/+51900036945" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-whatsapp"></i>
                                <span class="contact-label">WhatsApp</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/WebDientesitos" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook-f"></i>
                                <span class="contact-label">Facebook</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="mailto:DientesitosWeb@gmail.com">
                                <i class="far fa-envelope"></i>
                                <span class="contact-label">Correo</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
