@model WebDientesitos.Models.DatosCita
<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<body>
    <div class="container">
        <h1>Reservar Cita</h1>

        <form asp-controller="Home" asp-action="ConfirmacionCita" method="post">
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" id="dni" placeholder="Ingrese su DNI" asp-for="citaSinUser.DniPaciente">
            </div>

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" asp-for="citaSinUser.NombrePaciente">
            </div>

            <div class="form-group">
                <label for="apellidoPaterno">Apellido Paterno</label>
                <input type="text" class="form-control" id="apellidoPaterno" placeholder="Ingrese su apellido paterno" asp-for="citaSinUser.ApellidoPaternoPaciente">
            </div>

            <div class="form-group">
                <label for="apellidoMaterno">Apellido Materno</label>
                <input type="text" class="form-control" id="apellidoMaterno" placeholder="Ingrese su apellido materno" asp-for="citaSinUser.ApellidoMaternoPaciente">
            </div>

            <div class="form-group">
                <label for="correo">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" placeholder="Ingrese su correo electrónico" asp-for="citaSinUser.CorreoPaciente">
            </div>

            <div class="form-group">
                <label for="celular">Celular</label>
                <input type="tel" class="form-control" id="celular" placeholder="Ingrese su número de celular" asp-for="citaSinUser.CelularPaciente">
            </div>

            <div class="form-group">
                <label for="sede">Sede</label>
                <select class="form-control" name="idSede" asp-for="citaSinUser.IdSede">
                    @foreach (Sede item in Model.Sedes)
                    {
                        <option value="@item.Idsede">@item.Direccion</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="servicio">Servicio a Tratar</label>
                <select class="form-control" name="idTratamiento" asp-for="citaSinUser.IdTratamiento">
                    @foreach (Tratamiento item in Model.Tratamientos)
                    {
                        <option value="@item.Idtratamiento">@item.Nombre</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="doctor">Doctor</label>
                <select class="form-control" name="idDoctor" asp-for="citaSinUser.IdDoctor">
                    @foreach (Doctor item in Model.Doctors)
                    {
                        <option value="@item.Iddoctor">@item.Nombre @item.ApellidoPaterno</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="horario">Fecha</label>
                <input type="date" class="form-control" name="citaSinUser.Fecha" min="@DateTime.Now.AddDays(7).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(37).ToString("yyyy-MM-dd")" asp-for="citaSinUser.Fecha">
            </div>

            <div class="form-group">
                <label for="horario">Hora</label>
                <input type="time" class="form-control" name="citaSinUser.Hora" asp-for="citaSinUser.Hora">
            </div>

            <button type="submit" class="btn btn-primary">Reservar</button>
        </form>
    </div>
</body>