@model WebDientesitos.Models.CitaDental
@{
    Layout = "LayoutDoctor";
}
<head>
    <link rel="stylesheet" href="~/css/PintarBoton.css">
</head>
<body>
    <h1>Información de Cita Odontológica</h1>

    <h2>Detalles de la cita</h2>
    <ul>
        <li><strong>Sede: </strong>@Model.IdsedeNavigation.Direccion</li>
        <li><strong>Fecha: </strong>@Model.Fecha.ToString().Substring(0, 10)</li>
        <li><strong>Hora: </strong>@Model.Hora.ToString().Substring(0, 5)</li>
        <li><strong>Duración: </strong>@Model.Duracion</li>
        <li><strong>Odontólogo: </strong> Dr. @Model.IddoctorNavigation.Nombre @Model.IddoctorNavigation.ApellidoPaterno</li>
        <li><strong>Importe: </strong>S/@Model.ImportePagar</li>
    </ul>

    <h2>Tratamiento</h2>
    <ul>
        <li><strong>Nombre: </strong>@Model.IdtratamientoNavigation.Nombre</li>
        <li><strong>Descripción: </strong>@Model.IdtratamientoNavigation.Descripcion</li>
    </ul>

    <a class="btn btn-primary" asp-controller="Doctor" asp-action="FinalizarCita" asp-route-IDCita="@Model.Idcita">Finalizar Cita</a>
</body>